.sort-bar-container{
    font-family: Verdana, Geneva, sans-serif;
    position: relative;
    .search-filter-text{
        font-size: 12px;
        margin-left: 10px;
    }

    .dropdown{
        padding: 2px;
        margin-left: 10px;
        width: auto !important;
        font-size: 14px;
    }

    .processing-time-result{
        position: absolute;
        display: inline;
        right: 10px;
        bottom: 2px;
        font-size: 12px;
    }

    @media screen and (max-width: 768px){
        .processing-time-result{
            display: none;
        }
    }
}