.item-container{
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
    .story-title{
        line-height: 1.25;
        .title{
            color: #000;
            font-size: 14px;
            word-break: break-all;
        }
    }
    .title:hover{
        text-decoration: none;
    }
    .link{
        color: #696969;
        font-size: 13px;
        margin-left: 5px;
    }
    .item-meta{
        color: #696969;
        font-size: 10px;
        margin-top:2px;
        .separator{
            margin: 0 5px
        }
    }
    .story-text{
        font-size: 12px;
        margin-top: 8px;
    }
}